.box1
{
	width: 100px;
	height: 100px;
	background-color: red;
}
.box2
{
	width: 100px;
	height: 100px;
	background-color: blue;
	position: absolute;
	top: 8px;
	left: 608px;
}
.box3
{
	width: 100px;
	height: 100px;
	background-color: green;
	position: relative;
	top: 200px;
}
.box4
{
	width: 100px;
	height: 100px;
	background-color: yellow;
	position: absolute;
	top: 308px;
	left: 608px;
}